@charset "utf-8";

@font-face {
    font-family: Snickles;
    src: url('../font/placeholder.ttf') format('truetype'),
    url('../font/placeholder.woff') format('woff');
}

/*
Stylesheet for countdownProject
Author: Matt Parisano
*/

/*html style*/

html {
    background: url(../img/nycStreet.png);
    background-size: cover;
    background-attachment: fixed;
}    

header {
    background-image: url(../img/nycHeader.png);
    background-size: cover;
    color: #e5e8e8;
}    

body {    
    outline: 5px dashed white;
    height: 100%;
    min-height: 800px;
    max-height:1920px;
    display: flex;
    padding:25px;
    justify-content: center;
}    

section {
    color:#e5e8e8;
    background-color: #E1792Ebf;
    text-align: center;
    display:block;
    width:83%;
    clear:right;
    float:right;
}            

nav {
    background-color: #2DE0B4cc;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width:17%;
    clear:left;
    float:left;
}    

/*
li styles
CSS selectors be damned. 
I used <b></b> in the HTML to bold the UL.
Fight me.
P.S. Thanks, Christian
*/

li {
    list-style-type: disc;
    text-decoration: underline;
    font-style: italic;
}

header, footer {
    width: 100%;
    background-color: #e0ba4e95;
    text-align: center;    
}            

header, body, section, aside, footer, nav {
    display:table;
    outline: 1px solid red;
}        

/*
Does the nav bar NEED to be on the left?
Idc, it's going over there anyway unless I
feel like it looks better somewhere else
*/

/*text and body styles*/

h1 {
    font-size: 3em;
}                

h2 {
    font-size: 2em;
}            


p {
    font-size: 1.1em;
}    

/*Link styles*/

a {
    color:#000;
    text-decoration:none;
}            

a:visited {
    color: #F90D00;
    text-decoration: underline;
}            

a:hover {
    color: #0f0;
    text-decoration: underline;
}            

a:active {
    color:#ff0;
    text-decoration: underline;
}            

/*
Putting the footer at the bottom using the ::after pseudo element
*/

footer::after {
    clear:both;
    display:table;
    content:"";
}