@charset "utf-8";

/*@font-face {
    font-family: Segment14;
    src: url('../font/fontHere.woff') format('woff'),
         url('../font/fontHere.ttf') format('truetype');
 }
*/

/*
Stylesheet for countdownProject
Author: Matt Parisano
*/

div {
    outline: 1px solid red;
}